<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <h3>SignUp</h3>

    <form action ="/signup/" method = "post">
        {% csrf_token %}
        <label for="">Username</label>
        <input type="text" id = "username" name = "username" placeholder="Create a username" Required>
        <br>

        <label for="">First Name</label>
        <input type="text" id = "fname" name = "fname" placeholder="Enter First Name" Required>
        <br>

        <label for="">Last Name</label>
        <input type="text" id = "lname" name = "lname" placeholder="Enter Last Name" Required>
        <br>

        <label for="">Email Address</label>
        <input type="email" id = "email" name = "email" placeholder="Enter E-mail ID" Required>
        <br>

        <label for="">Password</label>
        <input type="password" id = "pass1" name = "pass1" placeholder="Create a password" Required>
        <br>

        <label for="">Confirm your Password</label>
        <input type="password" id = "pass2" name = "pass2" placeholder="Confirm Password" Required>
        <br>

        <label for="">Mobile No.</label>
        <input type="text" id = "mobno" name = "mobno" placeholder="Enter mobile no." Required>
        <br>

        <button type = "submit">Sign Up</button>
    </form>

    <script src="" async defer></script>
</body>
</html>